# Database

In [1]:
import time
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/taxi_trip')

In [16]:
df_full = pd.read_csv("../data/yellow_tripdata_2021-01.csv", nrows=10, parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
print(pd.io.sql.get_schema(df_full, 'yellow_trip', con=engine))

CREATE TABLE yellow_trip (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount BIGINT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:

df_iter = pd.read_csv("../data/yellow_tripdata_2021-01.csv", chunksize=10000, iterator=True)

count = 1
while True:
    t_start = time.time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_trip', con=engine, if_exists='append')

    t_end = time.time()

    print(F'Inserted chunk #{count}, took {t_end - t_start:.3f} second')
    
    count+=1
    
    try:
        df = next(df_iter)
    except StopIteration:
        print('Finished')
        break
    except Exception as e:
        print(e)
        break

Inserted chunk #1, took 0.660 second
Inserted chunk #2, took 0.654 second
Inserted chunk #3, took 0.686 second
Inserted chunk #4, took 0.604 second
Inserted chunk #5, took 0.606 second
Inserted chunk #6, took 0.653 second
Inserted chunk #7, took 0.594 second
Inserted chunk #8, took 0.604 second
Inserted chunk #9, took 0.694 second
Inserted chunk #10, took 0.635 second
Inserted chunk #11, took 0.651 second
Inserted chunk #12, took 0.676 second
Inserted chunk #13, took 0.613 second
Inserted chunk #14, took 0.605 second
Inserted chunk #15, took 0.710 second
Inserted chunk #16, took 0.638 second
Inserted chunk #17, took 0.593 second
Inserted chunk #18, took 0.581 second
Inserted chunk #19, took 0.686 second
Inserted chunk #20, took 0.652 second
Inserted chunk #21, took 0.642 second
Inserted chunk #22, took 0.694 second
Inserted chunk #23, took 0.627 second
Inserted chunk #24, took 0.654 second
Inserted chunk #25, took 0.636 second
Inserted chunk #26, took 0.672 second
Inserted chunk #27, took 0.625 second
Inserted chunk #28, took 0.593 second
Inserted chunk #29, took 0.667 second
Inserted chunk #30, took 0.630 second
Inserted chunk #31, took 0.612 second
Inserted chunk #32, took 0.724 second
Inserted chunk #33, took 0.628 second
Inserted chunk #34, took 0.616 second
Inserted chunk #35, took 0.733 second
Inserted chunk #36, took 0.629 second
Inserted chunk #37, took 0.614 second
Inserted chunk #38, took 0.629 second
Inserted chunk #39, took 0.722 second
Inserted chunk #40, took 0.644 second
Inserted chunk #41, took 0.639 second
Inserted chunk #42, took 0.683 second
Inserted chunk #43, took 0.632 second
Inserted chunk #44, took 0.631 second
Inserted chunk #45, took 0.721 second
Inserted chunk #46, took 0.629 second
Inserted chunk #47, took 0.639 second
Inserted chunk #48, took 0.697 second
Inserted chunk #49, took 0.621 second
Inserted chunk #50, took 0.662 second
Inserted chunk #51, took 0.707 second
Inserted chunk #52, took 0.587 second
Inserted chunk #53, took 0.659 second
Inserted chunk #54, took 0.726 second
Inserted chunk #55, took 0.617 second
Inserted chunk #56, took 0.640 second
Inserted chunk #57, took 0.721 second
Inserted chunk #58, took 0.646 second
Inserted chunk #59, took 0.619 second
Inserted chunk #60, took 0.708 second
Inserted chunk #61, took 0.622 second
Inserted chunk #62, took 0.614 second
Inserted chunk #63, took 0.634 second
Inserted chunk #64, took 0.701 second
Inserted chunk #65, took 0.598 second
Inserted chunk #66, took 0.565 second
Inserted chunk #67, took 0.647 second
Inserted chunk #68, took 0.592 second
Inserted chunk #69, took 0.544 second
Finished

In [3]:
df_zones = pd.read_csv('../data/taxi+_zone_lookup.csv')
df_zones.to_sql(name='zones', con=engine, if_exists='replace')