## Setting up

In [9]:
import os
import pandas as pd

In [10]:
if not os.listdir("../data"):
    !wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
    !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
    for i in os.listdir():
        if i.endswith(".csv"):
            os.rename(i, f"../data/{i}")

In [11]:
df = pd.read_csv("../data/yellow_tripdata_2021-01.csv", low_memory=False)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [12]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

# Homework

## How many taxi trips were there on January 15?

In [13]:
print(df[(df.tpep_pickup_datetime.dt.day == 15) & (df.tpep_pickup_datetime.dt.month == 1)].shape[0])

53024

## On which day it was the largest tip in January?

In [14]:
df[df.tpep_dropoff_datetime.dt.month == 1].nlargest(1, 'tip_amount').iloc[0][1]

Timestamp('2021-01-20 11:22:05')

## What was the most popular destination for passengers picked up in central park on January 14? Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [15]:
taxi_zone = pd.read_csv("../data/taxi+_zone_lookup.csv")
taxi_zone.set_index('LocationID', inplace=True)
taxi_zone.fillna("Unknown", inplace=True)
taxi_zone[taxi_zone.Zone.str.contains('Central Park')]

              Borough          Zone service_zone
LocationID
43          Manhattan  Central Park  Yellow Zone

In [16]:
DOZone_count = df[(df.tpep_pickup_datetime.dt.day == 14) & (df.tpep_pickup_datetime.dt.month == 1) & (df.PULocationID == 43)].groupby('DOLocationID')['VendorID'].count().reset_index(name ='Count')
taxi_zone.loc[DOZone_count.nlargest(1, 'Count').iloc[0][0]]

Borough                     Manhattan
Zone            Upper East Side South
service_zone              Yellow Zone
Name: 237, dtype: object

## What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)?

In [17]:
# What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)? 

PU_DO_pair = df.groupby(['PULocationID', 'DOLocationID'])['total_amount'].mean().reset_index()

_pu, _do, _ = PU_DO_pair.nlargest(1, 'total_amount').values[0]

In [18]:
taxi_zone.loc[_pu]

Borough             Manhattan
Zone            Alphabet City
service_zone      Yellow Zone
Name: 4, dtype: object

In [19]:
taxi_zone.loc[_do]

Borough         Unknown
Zone            Unknown
service_zone    Unknown
Name: 265, dtype: object

# Database

In [22]:
print(pd.io.sql.get_schema(df, 'yellow_tripdata'))

CREATE TABLE "yellow_tripdata" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [ ]:
import psycopg2 as pg
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')